.loading {
  animation-duration: 0.1s;
  animation-iteration-count: infinite;
  animation-name: aumentaTamanho;
  animation-timing-function: steps(50);
  color: white;
}

@keyframes aumentaTamanho {

  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
